div {
	height: 100px;
	width: 100px;
	border: solid black 5px;
	display:  inline-flex;
}

.rojo {
	background-color: red;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}

.green {
	background-color: green;
}